<ion-header [translucent]="true">
  <ion-toolbar>
    <a href="/home"><ion-icon name="arrow-back-outline" color="dark" style="height: 30px; width: 30px;"></ion-icon></a>
    <ion-title>Mais Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-progress-bar type="indeterminate" color="warning"></ion-progress-bar>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.images.express.co.uk/img/dynamic/79/590x/474299_1.jpg" />
    <ion-card-header>

      <ion-item>
      <h1>Christopher Anthony John</h1>
      <h6 slot="end">124</h6>
    </ion-item>
      <h6>chrisantpastor@gmail.com</h6>

    </ion-card-header>
  </ion-card>

  <ion-card>

    <ion-list>
      <ion-item>
        <ion-item>
        <h4>Endereço:</h4>
        </ion-item>
        <ion-item>
        <h6>A Sky Full of Stars nº 435</h6>
      </ion-item>
      </ion-item>

      <ion-item>
        <ion-item>
        <h4>Telefone:</h4>
      </ion-item>
      <ion-item>
        <h6>990221977</h6>
      </ion-item>
      </ion-item>

      <ion-item>
      <ion-item>
        <h4>Profissão:</h4>
      </ion-item>
      <ion-item>
        <h6>Pastor da Igreja ChriSant</h6>
      </ion-item>
      </ion-item>
    </ion-list>


  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-progress-bar type="indeterminate" color="dark"></ion-progress-bar>
    <img src="https://i.pinimg.com/736x/89/63/e4/8963e447809ef5ef17f878ef779d8493.jpg" alt="">
  </ion-toolbar>
</ion-footer>
