<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mais Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdns-images.dzcdn.net/images/artist/7f3c0956357c326b2db2cf436f1dc8c5/500x500.jpg" />
    <ion-card-header>

      <ion-item>
      <h1>Peter Gene Hernandez</h1>
      <h6 slot="end">240</h6>
    </ion-item>
      <h6>bruninhomichael@gmail.com</h6>

    </ion-card-header>
  </ion-card>

  <ion-card>

    <ion-list>
      <ion-item>
        <ion-item>
        <h4>Endereço:</h4>
        </ion-item>
        <ion-item>
        <h6>Locked Out Of Heaven nº 354</h6>
      </ion-item>
      </ion-item>

      <ion-item>
        <ion-item>
        <h4>Telefone:</h4>
      </ion-item>
      <ion-item>
        <h6>998019856</h6>
      </ion-item>
      </ion-item>

      <ion-item>
      <ion-item>
        <h4>Profissão:</h4>
      </ion-item>
      <ion-item>
        <h6>Dono do Runaway Baby</h6>
      </ion-item>
      </ion-item>
    </ion-list>


  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-progress-bar type="indeterminate" color="dark"></ion-progress-bar>
    <img src="https://64.media.tumblr.com/ef27e5d65fe3d396ea25986539af2291/tumblr_oeog62WeB91uflmebo2_1280.png" alt="">
  </ion-toolbar>
</ion-footer>
