<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mais Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-progress-bar type="indeterminate" color="tertiary"></ion-progress-bar>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.alvoradafm.com.br/assets/uploads/noticias/rihanna%20-%20reprodu%C3%A7%C3%A3o%20facebook_5cf7b153d60d0.jpg" />
    <ion-card-header>

      <ion-item>
      <h1>Robyn Rihanna Fenty</h1>
      <h6 slot="end">988</h6>
    </ion-item>
      <h6>ririamodel@gmail.com</h6>

    </ion-card-header>
  </ion-card>

  <ion-card>

    <ion-list>
      <ion-item>
        <ion-item>
        <h4>Endereço:</h4>
        </ion-item>
        <ion-item>
        <h6>Lift Me Up nº 333</h6>
      </ion-item>
      </ion-item>

      <ion-item>
        <ion-item>
        <h4>Telefone:</h4>
      </ion-item>
      <ion-item>
        <h6>991988201</h6>
      </ion-item>
      </ion-item>

      <ion-item>
      <ion-item>
        <h4>Profissão:</h4>
      </ion-item>
      <ion-item>
        <h6>Modelo da Fenty Beauty</h6>
      </ion-item>
      </ion-item>
    </ion-list>


  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-progress-bar type="indeterminate" color="dark"></ion-progress-bar>
    <img src="https://64.media.tumblr.com/8d11bad682ab1d1a36ee14fbee7f441d/903e4a513651eebe-ce/s1280x1920/f904beb1ba951fe5fd2146ac7ba5fd72f2ed409d.jpg" alt="">
  </ion-toolbar>
</ion-footer>